<div class="fields">
    <form>
        <div class="row mb-3">
            <label for="inputMethod" class="col-sm-2 col-form-label">Method</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputMethod" value="GET">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputHost" class="col-sm-2 col-form-label">Host</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputHost" value="">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPath" class="col-sm-2 col-form-label">Path</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPath" value="">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputVersion" class="col-sm-2 col-form-label">Version</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputVersion" value="1">
            </div>
        </div>
    </form>
</div>
<div class="actions">

</div>
<div class="results">

</div>