@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

header .home img {
    margin: 0 15px;
    height: 38px;
    width: 102px;
}

h1 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
    border-bottom: solid 1px #CCC;
    margin: 25px 0 10px 0;
}

main {
    min-height: 100vh;
    max-height: max-content !important;
}

.main {
    padding: 15px;
    border-left: solid 3px #CCC;
    min-height: 92vh;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

#sidebar ul {
    padding-left: 10px;
    font-size: .9em;
    list-style: none;
}

        #sidebar ul li a:before {
            content: "—";
        }

.b-example-divider {
    flex-shrink: 0;
    width: .5rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.table-sm {
    font-size: .8em;
}

.form-small {
    font-size: .8em;
}

    .form-small input.form-control {
        font-size: .8em;
    }

footer {
    text-align: center;
}

    footer div {
        margin: 5px;
    }

    footer a {
        color: #6c757d !important;
    }

iframe {
    width: 100%;
    min-height: 92vh;
}

.nav-item i {
    width: 16px;
    height: 16px;
}

li.hr {
    border-top: solid 1px #e5e5e5;
}

em.highlight {
    background: #f5f5f5;
}

.code {
    background: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
}

    .code code {
        color: #000;
    }

    .code table th {
        font-weight: normal;
    }

.card .code {
    padding: 3px;
}

input[type="submit"] {
    margin-right: 15px;
}

.working {
    margin-left: 20px;
    font-style: italic;
}

.wrap {
    word-wrap: break-word;
}

.alert .alert-heading {
    font-size: 1.5em;
    margin: 5px 0;
    border: none;
}
