.topbar, .information-container, .scheme-container {
    display: none;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

div.form {
    width: 100%;
    max-width: 1460px;
    margin: 25px auto;
    padding: 0 20px;
    box-sizing: border-box;
}
