@{
    ViewData["Title"] = "Data Sharing";
}
@model DataSharingModel
 
<h2>Data Sharing</h2>

<p>
    This page allows the testing data holder APIs by using the <a href="@Model.CdsSwaggerLocation" target="_blank">CDS Swagger file</a> and Swagger UI.
</p>

<p>
    <strong>Note:</strong> In order to apply a client certificate for mTLS connections as well as an access_token in the Authorization header 
    all requests are proxied through the Mock Data Recipient proxy endpoint (<span class="code">/data-sharing/proxy</span>)
</p>

<div>
    <iframe src="~/cds">
    </iframe>
</div>

@section Scripts {
    <script type="text/javascript">
        setSidebarMenuItem('data-sharing');
    </script>
}