# Docker compose

version: '3.8'

services:
  mock-data-recipient:
    container_name: mock-data-recipient
    image: mock-data-recipient
    build:
      context: .
      dockerfile: Dockerfile
    ports: 
      - "9001:9001"
    environment:
      - ASPNETCORE_ENVIRONMENT=Release
    volumes:
      - "./_temp/mock-data-recipient/tmp:/tmp"
    healthcheck:
      test: test -f /app/manage/_healthcheck_ready || exit 1
      timeout: 5s
      interval: 5s
      retries: 20    
    depends_on:
      mssql:
        condition: service_healthy

  mssql:
    container_name: sql1
    image: 'mcr.microsoft.com/mssql/server:2019-latest'
    ports:
      - '1433:1433'
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Pa{}w0rd2019
    healthcheck:
      test: /opt/mssql-tools/bin/sqlcmd -S . -U sa -P "Pa{}w0rd2019" -Q "SELECT 1" || exit 1 
      timeout: 10s
      interval: 10s
      retries: 10    
